



.container {
    width: 50vh;
    height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid red;
    border-radius: 50px;


}





h1 {
    color: red;
}

h2 {
    background-color: green;
}

