
header h1 {
    color: black; 
  }
  

  @media (max-width: 600px) {
    header h1 {
      color: green; 
    }
  }
  

  main img {
    width: 100%; 
  }
  

  @media (max-width: 800px) {
    main img {
      width: 49%; 
    }
  }
  