h1 {
    font-size: 40pt;
    font-family: futura;
    color: red;
}

h2 {
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

p {
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

a {
    color: yellowgreen;
}

a:hover {
    color: aqua;
}

footer {
    color: blueviolet;
}

img {
    border: 6px solid orangered;
    border-radius: 20px;
    margin: 20px 20px;
    padding: 10px;
    max-width: 50vh;
}

#dalì {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#magritte {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}

#vangogh {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(3); 
    grid-gap: 10px;
    grid-template-areas:
    "item1 item2"
    "item3 item4"
    "item5 item6";
}